.entry {
  display: flex;
  flex-direction: row; // unnecessary, but for clarity
  justify-content: flex-end;
  align-items: stretch;
  padding: 0.6em 0;
  width: 100%;
  box-sizing: border-box;
  cursor: text;
  border: 1px solid black;

  &.focused {
    border: 1px solid red;
  }

  .mq-editable-field {
    width: 100%;
    min-height: 1em;
    height: 100%;
    border: none;

    &.mq-focused {
      box-shadow: none;
    }
  }
}